{% extends "base.html" %}
{% block content %}

<h3>All Product Type Name:</h3>
    {% for data in datas %}
        <div class="container">
            <h2>    
                <a class="label-link" href="{% url 'accounts:show-data' data.id %}">
                    {{data}}
                </a>
                {% if user.is_superuser %}
                <a class="btn btn-success glyphicon glyphicon-trash" href="{% url 'accounts:delete' data.id%}"></a>
                {% endif %}
            </h2>
        </div>
    {% endfor %}


{% endblock %}
